hello_world
larger_number
temperature
circle_area_perimeter
oct_hex_representation
remainder_calculator
ternary_sum_diff
percentage_calculator
larger_number_ifelse
even_odd
negative_number_check
quotient_remainder
biggest_of_three
leap_year
student_grade
print_1_to_10
*.swp
print_reverse_by_2
sum_of_digits
product_of_digits
factorial
binary_to_decimal
print_1_to_10_do_while
count_digits
sum_of_digits_do_while
print_1_to_10_for_loop
print_reverse_by_two_for_loop
multiply_without_star
sum_of_digits_for_loop
armstrong_numbers_range
sum_digits_until_single
prime_check
sum_average_10_numbers
even_odd_goto
integer_arithmetic
vowel_or_consonant
