hello_world
larger_number
temperature
circle_area_perimeter
oct_hex_representation
remainder_calculator
ternary_sum_diff
percentage_calculator
larger_number_ifelse
even_odd
negative_number_check
quotient_remainder
biggest_of_three
